.create-container{
    max-width: 80%;
    display: block;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    margin-left: 15%;
    background: center;
    background-color: white;
    margin-top: 8%;
    margin-bottom: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;   
    box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 10%);
    border-radius: 5px;
    
}

.images {
     max-block-size: fit-content;
       max-width: 200px;
        margin-right: 25px;
        /* display: flex; */
        /* flex-direction: row; */
        /* flex-wrap: nowrap; */
        /* justify-content: space-between; */
        /* align-items: baseline; */
    }
label{
    margin-right: 25px;
    margin-bottom: 25px;
}
.create-form{
    padding-left: 12%;
}
input[type="radio"]{
    margin-right: 5px;
}
.images-for-product{
    margin-bottom: 25px;
}
input[name="title"]{
    margin-bottom: 25px;
    min-width: 652px;
    border: solid 1px #b3b3b3;
}
input[name="description"]{
    min-width: 652px;
    min-height: 100px;
    margin-bottom: 10px;
}
h4{
    font-weight: 400!important;
}

.active{
    border: 5px solid #b3b3b3;
}
