.buttonStyle{
        font-size: 16px;
        line-height: 16px;
        border-radius: 50px 50px 50px 50px;
        overflow: hidden;
        border-width: 0px;
        padding-top: 12px;
        padding-right: 64px;
        padding-bottom: 12px;
        padding-left: 64px;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        color: #fefefe
}
.create-container{
    display: block;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    margin-left: 15%;
    background: center;
    background-color: white;
    margin-top: 8%;
    margin-bottom: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;   
    box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 10%);
    border-radius: 5px;
    
}

.createContainer{
    background-color: #f3f3f3f3;
    box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 10%);
    border-radius: 5px;
    display: block;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    background: center;
    margin-top: 8%;
    margin-bottom: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;   
}

.images {
     max-block-size: fit-content;
       max-width: 200px;
        margin-right: 25px;
        /* display: flex; */
        /* flex-direction: row; */
        /* flex-wrap: nowrap; */
        /* justify-content: space-between; */
        /* align-items: baseline; */
    }


input[type="radio"]{
    margin-right: 5px;
}
.images-for-product{
    margin-bottom: 25px;
}
input[name="title"]{
    margin-bottom: 25px;
    min-width: 652px;
    border: solid 1px #b3b3b3;
}
input[name="price"]{
    margin-bottom: 25px;
    min-width: 240px;
    border: solid 1px #b3b3b3;
}
input[name="by"]{
    margin-bottom: 25px;
    min-width: 240px;
    border: solid 1px #b3b3b3;
}
textarea[name="description"]{
    min-width: 652px;
    min-height: 100px;
    margin-bottom: 10px;
    border: solid 1px #b3b3b3;
}
h4{
    font-weight: 300!important;
}

.active{
    border: 5px solid #b3b3b3;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
